#### Some Important Series Method

In [1]:
import numpy as np
import pandas as pd

In [92]:
subs = pd.read_csv(r"C:\Users\deepu\OneDrive\Desktop\Python\subs.csv")
subs = subs.squeeze()
subs

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [93]:
vk = pd.read_csv(r"C:\Users\deepu\OneDrive\Desktop\Python\kohli_ipl.csv",index_col="match_no")
vk = vk.squeeze()
vk

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [94]:
movies = pd.read_csv(r"C:\Users\deepu\OneDrive\Desktop\Python\bollywood.csv",index_col="movie")
movies = movies.squeeze()
movies

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

##### 1.astype

In [95]:
import sys
sys.getsizeof(vk)

3472

In [96]:
# Now change the data type by astype
vk.astype('int16')
# And now check the size
sys.getsizeof(vk.astype('int16'))

2182

In [97]:
# It means using datatype by changing dtype we reduced the memory size

##### 2.between

In [98]:
# Let we have to find that how many innings in which virat kohli score 51 t0 99
vk.between(51,99) # This will give you a boolean series if true or false and then
vk[vk.between(51,99)] # This will give you match no and runs b/w 51 and 99
# HEnce finally to get that number just do
vk[vk.between(51,99)].size

43

##### clip -->> convert all the value in provided range(a,b) So a se kam vali valure ko a mein and b se jyade wale value ko b mein and b/w wale as it is

In [99]:
subs.clip(100,200)

0      100
1      100
2      100
3      100
4      100
      ...
360    200
361    200
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

##### 3.drop_duplicates

In [100]:
temp = pd.Series([1,1,2,2,3,3,4,4])
temp

0    1
1    1
2    2
3    2
4    3
5    3
6    4
7    4
dtype: int64

In [101]:
# Now dropping duplicates item which delete the last one 0f 1,1 2,2 
temp.drop_duplicates()

0    1
2    2
4    3
6    4
dtype: int64

In [102]:
# If you want to delete first one of every duplicates item and print last one then use keep='last'
temp.drop_duplicates(keep='last')
# The last one of every duplicates  is printed -->> confirm it by index no of both output

1    1
3    2
5    3
7    4
dtype: int64

In [103]:
movies.drop_duplicates()
# Now the total data is 566 instead of 1500 -->> So movies with same actor will be removed

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Sssshhh...                              Tanishaa Mukerji
Rules: Pyaar Ka Superhit Formula                  Tanuja
Right Here Right Now (film)                        Ankit
Talaash: The Hunt Begins...                Rakhee Gulzar
The Pink Mirror                          Edwin Fernandes
Name: lead, Length: 566, dtype: object

##### 4.duplicated() -->> Tells that duplicate value is present or not by giving True or False

In [104]:
temp.duplicated()

0    False
1     True
2    False
3     True
4    False
5     True
6    False
7     True
dtype: bool

In [105]:
temp.duplicated().sum()

4

In [106]:
vk.duplicated().sum()

137

##### 5.isnull -->> deals with missing values

In [107]:
temp = pd.Series([1,2,3,np.nan,5,6,np.nan,8,np.nan,10])
temp

0     1.0
1     2.0
2     3.0
3     NaN
4     5.0
5     6.0
6     NaN
7     8.0
8     NaN
9    10.0
dtype: float64

###### Most important to mind the diff b/w count and size is that count doesn't count missing values while size count it as value

In [108]:
temp.size

10

In [109]:
temp.count()

7

In [110]:
# Now knowing how many null values are there
temp.isnull().sum()

3

###### NOTE : Now handling with missing values

In [111]:
# (a).dropna -->> it will remove all the missing values
temp.dropna()

0     1.0
1     2.0
2     3.0
4     5.0
5     6.0
7     8.0
9    10.0
dtype: float64

In [112]:
# (b).fillna -->> it replaces the missing values with any value you provide means not removes the missing values
temp.fillna(0)

0     1.0
1     2.0
2     3.0
3     0.0
4     5.0
5     6.0
6     0.0
7     8.0
8     0.0
9    10.0
dtype: float64

##### 6.isin

In [113]:
vk

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [114]:
# If you want to know Virat Kohli scored 49 or 99 in any matches then
vk[vk.isin([49,99])]
# Otherwiswe you have to do [(vk==49) | (vk==99)]

match_no
82    99
86    49
Name: runs, dtype: int64

In [115]:
vk[vk.isin([40,50,90,95])]
# otherwise you have to do [(vk==40)|(vk==50)|(vk==90)|(vk==95)]

match_no
15     50
178    90
182    50
Name: runs, dtype: int64

##### 7.apply -->> use to help in applying any custom logic on your series

In [116]:
movies

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

In [117]:
# Let you want actor's only first name but not last name and also all in Capital Letter

In [118]:
movies.apply(lambda x : x.split()[0].upper())

movie
Uri: The Surgical Strike                  VICKY
Battalion 609                             VICKY
The Accidental Prime Minister (film)     ANUPAM
Why Cheat India                          EMRAAN
Evening Shadows                            MONA
                                         ...
Hum Tumhare Hain Sanam                     SHAH
Aankhen (2002 film)                     AMITABH
Saathiya (film)                           VIVEK
Company (film)                             AJAY
Awara Paagal Deewana                     AKSHAY
Name: lead, Length: 1500, dtype: object

In [119]:
# Let's make subscribers data a good day when subs are greater than av.subs and badday when subs  are less than avgsubs

In [120]:
subs.mean()
# So average subscribers are 135.64

135.64383561643837

In [121]:
subs

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [123]:
subs.apply(lambda x:'Good Day' if x > subs.mean() else 'Bad Day')

0       Bad Day
1       Bad Day
2       Bad Day
3       Bad Day
4       Bad Day
         ...
360    Good Day
361    Good Day
362    Good Day
363    Good Day
364    Good Day
Name: Subscribers gained, Length: 365, dtype: object

##### 8.copy

In [124]:
vk

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [126]:
new = vk.head()
new

match_no
1     1
2    23
3    13
4    12
5     1
Name: runs, dtype: int64

In [127]:
new[1] = 50

In [130]:
new
# Match no 1 run is changed

match_no
1    50
2    23
3    13
4    12
5     1
Name: runs, dtype: int64

In [131]:
vk
# Match no 1 run is changed

match_no
1      50
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

###### It means when you take some part of data by .head() or .tail() then it doesn't means that you're taking copy of data from dataset but actually you're taking the original data -->>it means when you make changes in that small portion then that changes aslo made in original data.

In [132]:
# TO overcome this problem make a copy like that

In [133]:
neww = vk.head().copy()

In [134]:
neww[1] = 123
neww

match_no
1    123
2     23
3     13
4     12
5      1
Name: runs, dtype: int64

In [136]:
vk
# ere no any changes in run of 1st match even after making changes bcz we now take the copy from dataset but not orgnal data

match_no
1      50
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64